@import url(https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong);


        body {
            font-family: "Audiowide", sans-serif;
            background-image: url('image_home.jpg');
            color: white;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* สไตล์ส่วนหัว */
        
        header h1 {
            margin-top: 15%;
            font-size: 80px;
            text-align: center;
        }

        header p {
            padding-top: 1px;
            font-size: 30px;
            text-align: center;
        }

        /* สไตล์ส่วนเนื้อหา */
        section {
            text-align: center;
        }


        li{
            display: inline;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin: 10px 20px;
        }

        /* สไตล์ลิงก์ */
        .neen {
            color: skyblue;
            font-size: 90px;
        }

        .neen:link{
            text-decoration:none;
        }
        .neen:visited {
            color: skyblue;
            text-decoration:none;
          }
        
        .neen:hover {
            font-size: 120px;
        }

        .jet {
            color: red;
            font-size: 90px;
            
        }
        
        .jet:link{
            text-decoration:none;
        }
        .jet:visited {
            color: red;
            text-decoration:none;
          }
        
        .jet:hover {
            font-size: 120px;
        }
