@import url(https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong);

*{
    margin: 0;
    padding: 0;
    
    font-family: "Audiowide", sans-serif;
}

/* Basic background image */
body {
    background-image: url('image.webp');
  }
  
  /* Background image with additional styling */
  body {
    background-image: url('image.webp');
    background-repeat: no-repeat;          /* Prevents image repetition */
    background-size: cover;                /* Covers the whole area, crops if needed */
    background-position: center center;    /* Centers the image in the viewport */
    background-attachment: fixed;          /* Fixes the image in place for a parallax effect */
  }
  


.port {
    text-transform: uppercase;
    font-size: 80px;
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    color: white;
}
    

.neen {
    font-size: 100px;
    position: absolute;
    top: 40%;
    left: 40%;
    
}

.neen:link{
    text-decoration:none;
}
.neen:visited {
    color: skyblue;
    text-decoration:none;
  }

.neen:hover {
    font-size: 120px;
}

.jet {
    font-size: 100px;
    position: absolute;
    top: 40%;
    right: 40%;
    
}

.jet:link{
    text-decoration:none;
}
.jet:visited {
    color: red;
    text-decoration:none;
  }

.jet:hover {
    font-size: 120px;
}

.t{
    text-transform: uppercase;
    font-size: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
}

.rush {
    text-transform: uppercase;
    font-size: 30px;
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color: white;
}
